
@font-face {
    font-family: NavFont;
    src: url(Assets/Fonts/Some.ttf);
}


@font-face {
    font-family: logoFont;
    src: url(Assets/Fonts/NorteaaTallHand.ttf);
}

@font-face {
    font-family: subTxtFont;
    src: url(Assets/Fonts/ShadowsIntoLight-Regular.ttf);
}

@font-face {
    font-family: MainFont;
    src: url(Assets/Fonts/NorteaaTallHand.ttf);
}

/*======== BOILER PLATE  ========*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

} 

body,html{

    width: 100%;
    height: auto; 
    overflow: hidden !important; 
    position: relative;
    background-color: black;

}

.cursor{

    width: 40px;
    height: 40px;
    top: -50px;
    background-color: rgba(255, 194, 81, 0.303);
    border-radius: 50%;
    border: 2px solid rgb(255, 170, 1);;
    position: absolute;
    z-index: 999;
    transition: all .3s cubic-bezier(.34,.58,.48,.7);
  }

  /*========FRONT UI  CODE  ========*/

.frontUi{

    width: 100%;
    height: 100vh;
    background-color: black;
    background: linear-gradient(rgba(245, 200, 86, 0.089), rgba(0, 0, 0, 0.396)), url(Assets/y4.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    overflow: hidden;
    transition:  all 3s;

}

.main{

    transition: background,background-position 1.5s;
}


/*======== NAVBAR CODE  ========*/


.nav{

    display: flex;
    width: auto;
    height: 12vh;
    margin: 0 10%;
    padding-top: 2%;
    align-items: center;
    justify-content: space-between;
    gap: 10vw;
}

.navList ul{

    display: flex;
    gap: 7vw;
    list-style: none;
    text-shadow: 1px 1px 5px black;
    align-items: center;
    position: relative;
}

.navList ul li a{

    color: white;
    text-decoration: none;
    font-size: 1.7vw;
    letter-spacing: 6px;
   font-weight: 450;
   /* text-transform: uppercase;*/
    font-family: NavFont;
    position: relative;
    padding-bottom: 5px;
    transition: all 1s;
  
}


.navList ul li a::after{

    content: '';
    position: absolute;
    background-color: rgb(17, 204, 204);
    width: 100%;
    height: .3vh;
    left: 0;
    bottom: -3%;
    /* Bottom line animation */
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: all .5s; 
    
}

.navList ul li a:hover::after{

    transform: scale(1,1);
}

.navList ul li a:hover{

    color: rgb(17, 204, 204);

}


.logo a{

    font-size: 5vw;
    font-weight: 550 ;
    letter-spacing: 6px;
    color: white;
    font-family:  logoFont;
    cursor: pointer;
    text-shadow: 10px 10px 20px rgba(255, 255, 255, 0.308);
    text-decoration: none;
    transition: all .5s;
    position: relative;
    z-index: 99;
}

.logo a:hover{

    color: rgb(17, 204, 204);
    
}

::selection{

    color: rgb(17, 204, 204);
    background-color: rgba(0, 0, 0, 0.627);
}

.navList  .icon{

    display: none;
}

.rl{

    display: none !important;
}


/*======== FRONT UI MAIN CODE  ========*/

.frontUi-main{

    width: 100%;
    height: 100%;
    padding: 5%;
    padding-bottom: 12%;
    position: relative;
    color: white;
    display: flex;
    gap: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frontUi-main img{

    width: 35vw;
    height: 22vw;
    border: 10px solid black;
    box-shadow: 8px 8px 25px black;
    cursor: none;
}
.frontUi-main p{
    font-size: 1.6vw;
    font-family: subTxtFont;
    margin: 0 20%;
    text-shadow: 3px 3px 20px black;
    text-align: center;
    cursor: none;
}
.frontUi-main div{
    font-family: logoFont;
    font-size: 2.5vw;
    letter-spacing: 5px;
    padding: 4px 25px;
    background-color: transparent;
    border-radius: 25px;
    border: 2px solid white;
    transition: all .5s;
    cursor: pointer;
    opacity: 0;
}

.frontUi-main div:hover{

    border: 2px solid rgb(17, 204, 204);
    color: rgb(17, 204, 204);
}

.xxl-code{
    display: none;
}

.xxl{

    background-color: rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    font-family: subTxtFont;
    font-size: 15vw;
    background: linear-gradient(rgba(255, 255, 255, 0.33), rgba(0, 0, 0, 0.396)), url(Assets/y5.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: none;
    text-shadow: 3px 3px 50px black;
    
}




@media(max-width: 980px){


    /* ===== NAV CODE ===== */
        
    .logo a{
    
        font-size: 14vw;
    }
    .navList .icon{
    
        display: block;
        font-size: 5vw;
        text-shadow: 1px 1px 10px black;
        color: white;
    }
    
    .nav{
    
        padding-top: 10%;
        position: relative;
    }
    
    .navList ul li a{
    
        display: none;
    }

        
/* ===== XPAND FUNCTIONALITY ===== */
    
.xpand{

    background-color: /*rgba(18, 185, 185, 0.703)*/ rgba(2, 126, 142, 0.779);
    margin: 0;
    position: fixed;
    z-index: 99;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    
}

.xpand .logo{

    display: none;
}



.xpand .navList ul li a{

    display: block;
    font-size: 8vw;
    text-shadow: 1px 1px 10px black;
    
}

.xpand .navList ul{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    
}
.xpand .navList ul .icon{

    position: fixed;
    top: 7%;
    right: 10%;
    display: block;
    
  
   
}


.frontUi-main img{

    width: 70vw;
    height: 44vw;
    border: 10px solid black;
    box-shadow: 8px 8px 25px black;
}
.frontUi-main p{
    font-size: 3vw;
    margin: 0 8%;
    text-shadow: 3px 3px 20px black;
  
}
.frontUi-main div{
    font-family: logoFont;
    font-size: 6vw;
   
}

}


/* ===== RESPONSIVE CODE{425PX} ===== */

@media(max-width: 426px){

    
    /* ===== NAV CODE ===== */
        
    .logo a{
    
        font-size: 16vw;
    }
    .navList .icon{
    
      font-size: 6vw;
    
    }
    
    .nav{
    
        padding-top: 10%;
        z-index: 999;
    }

    .frontUi-main img{

        width: 70vw;
        height: 44vw;
        border: 10px solid black;
        box-shadow: 8px 8px 25px black;
    }
    .frontUi-main p{
        font-size: 4.5vw;
        margin: 0 5%;
        text-shadow: 3px 3px 20px black;
      
    }
    .frontUi-main div{
        font-family: logoFont;
        font-size: 8vw;
       
    }
}

